#home {
    margin-top: 66px;

}

@media (min-width: 1024px) {
    #home {
        min-height: 900px;
    }
}

.heroImage {
    position: relative;
    padding: 80px 0 90px 0;
    display: flex;
    justify-content: center;
}

.heroImage img {
    width: 100%;
    max-width: 1000px;
}
