a[href="https://elfsight.com/all-in-one-reviews-widget/?utm_source=websites&utm_medium=clients&utm_content=all-in-one-reviews&utm_term=localhost&utm_campaign=free-widget"] {
    cursor: default;
    pointer-events: none;
}

a[href="https://elfsight.com/all-in-one-reviews-widget/?utm_source=websites&utm_medium=clients&utm_content=all-in-one-reviews&utm_term=localhost&utm_campaign=free-widget"]::after {
    background-color: #FFFFFF;
    content: "";
    height: 50px;
    left: 0;
    position: absolute;
    width: 185px;
    z-index: 10000;
}

#feedbackComponent {
    width: 100%;
}
