.elementor-editor-active .elementor.elementor-edit-mode .elementor-widget.elementor-global-widget:hover {
    outline: 1px solid var(--e-p-border-global);
}

.elementor-editor-active .elementor.elementor-edit-mode .elementor-global-widget .elementor-editor-widget-settings {
    background-color: var(--e-p-border-global);
}

.elementor-editor-active .elementor.elementor-edit-mode .elementor-global-widget .elementor-editor-widget-settings .elementor-editor-element-setting {
    background-color: var(--e-p-border-global);
    color: var(--e-p-border-global-invert);
}

.elementor-editor-active .elementor.elementor-edit-mode .elementor-global-widget .elementor-editor-widget-settings .elementor-editor-element-setting:hover {
    background-color: var(--e-p-border-global-hover);
}

.elementor-editor-active .elementor.elementor-edit-mode .elementor-global-widget .elementor-editor-widget-settings .elementor-editor-element-setting.elementor-editor-element-save {
    display: none;
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

.elementor-posts.elementor-posts--skin-archive_full_content article.elementor-post {
    display: block;
}

.elementor-sticky--active {
    z-index: 99;
}

.e-container.elementor-sticky--active,
.e-con.elementor-sticky--active {
    z-index: var(--z-index,
99);
}

.e-container .e-container.elementor-sticky,
.e-container .e-con.elementor-sticky,
.e-con .e-container.elementor-sticky,
.e-con .e-con.elementor-sticky {
    /* Fix for sticky effect inside containers */
}

.e-container .e-container.elementor-sticky--active,
.e-container .e-con.elementor-sticky--active,
.e-con .e-container.elementor-sticky--active,
.e-con .e-con.elementor-sticky--active {
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
}

[data-elementor-type=popup]:not(.elementor-edit-area) {
    display: none;
}

[data-elementor-type=popup] .elementor-section-wrap:not(:empty) + #elementor-add-new-section {
    display: none;
}

.elementor-popup-modal {
    display: flex;
    pointer-events: none;
    background-color: transparent;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    user-select: auto;
}

.elementor-popup-modal .dialog-header,
.elementor-popup-modal .dialog-buttons-wrapper {
    display: none;
}

.elementor-popup-modal .dialog-close-button {
    display: none;
    top: 20px;
    margin-top: 0;
    right: 20px;
    opacity: 1;
    z-index: 9999;
    pointer-events: all;
}

.elementor-popup-modal .dialog-close-button svg {
    fill: #1f2124;
    height: 1em;
    width: 1em;
}

.elementor-popup-modal .dialog-widget-content {
    background-color: #FFFFFF;
    width: initial;
    overflow: visible;
    max-width: 100%;
    max-height: 100%;
    border-radius: 0;
    box-shadow: none;
    pointer-events: all;
}

.elementor-popup-modal .dialog-message {
    width: 640px;
    max-width: 100vw;
    max-height: 100vh;
    padding: 0;
    overflow: auto;
    display: flex;
}

.elementor-popup-modal .elementor {
    width: 100%;
}

.elementor-motion-effects-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform-origin: var(--e-transform-origin-y) var(--e-transform-origin-x);
}
